	*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	}
	html, body{
		height: 100%;
	}
	.well{
		background: rgba(0, 0, 0, 0.65);
		margin: 15px 2.5px;
	}.body>.well{
		margin: 10px 15px;
	}
	.panel-body{
		opacity: 1;
			}
	body{
		width: 100%;
		min-width: 320px;
		height: auto;
		position: relative;
		background-image: url(../../img/bg/testbg.jpg);
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;
		background-repeat: no-repeat;
	}
	img{
		width: 100%;
		height: auto;
		margin: 0;
	}	
	header{
		background: black;
		width: 100%;
		height: auto;
		margin-bottom: 15px;
	}
	header>div{
		overflow: hidden;
		margin-bottom: 20px;
	}
	.logo, .crse, .timer{
		height: 100%;
	}
	ol{
		list-style-type: upper-alpha;
	}
	ol li{
		margin: 10px 0;
	}
	hr{
		clear: both;
		margin: 25px 50px;
	}
.col-1{ width:8.33%;}
.col-2{ width:16.66%;}
.col-3{ width:25%;}
.col-4{ width:33.33%;}
.col-5{ width:41.66%;}
.col-6, .grid-50{ width:50%;}
.col-7{ width:58.33%;}
.col-8{ width:66.66%;}
.col-9{ width:75%;}
.col-10{ width:83.33%;}
.col-11{ width:91.66%;}
.col-12{ width:100%;}
[class*="col-"]{
	float: left;
	padding: 0 1.5px;
}
[class*="col-"]::after{
	content: "";
	display: block;
	clear: both;
}
.body{
	float: right;
}
.no-show{
	display: none!important;
}
.time{
	float: right;
	text-align: right;
	padding: 2.5px 50px;
	width: 100%;
}
.time::after{
	content: "";
	display: block;
	clear: both;
}
small{
	display: block;
}
.cntrl{
	width: 50%;
	padding: 0 15px;
}
.cancel, .proceed, .edit{
	margin: 1.5px 0;
	}
	.btn-lg{
		padding: 10px 5px;
	}
@media screen and (max-width: 900px){
	.main .body{
		width: 50%;
	}
	.main aside{
		width: 50%;
	}
	.time{
	text-align: right;
	padding: 2.5px 25px;
	width: 100%;
}
	.confirm{
		width: 80%;
	}
}
@media screen and (max-width: 520px){
	.mobile-100{
		width: 100%!important;
	}
	.hide-mobile{
		display: none;
	}
	.show-mobile{
		display: block!important;
	}
	.well{
		background: none;
		border: none;
		padding: 5px 19px;
	}
	.body>.well{
		margin: 0 2.5px;
	}
	.main{
		background: rgba(0, 0, 0, 0.65);
		border: 1px solid black;										
		margin: auto;
		width: 80%;
		overflow: hidden;
	}	
	.crse{
		width: 50%;
		margin: auto;
	}
	.lgo{
		width: 20%;
	}
	.timr{
		width: 30%;
		display: inline-block!important;
	}
	.mobile-100{
		width: 100%;
	}
	.proceed{
		width:75%;
	}
}